<nav class="h-16 flex items-center justify-between">
    <a href="{{ .Site.BaseURL }}" class="font-bold text-lg">{{ .Site.Title }}</a>
    <div class="flex gap-8">
        {{ range .Site.Menus.main }}
            <a href="" class="no-underline hover:underline">{{ .Name }}</a>
        {{ end }}
        <a href="/search"
            class="no-underline hover:underline">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="inline w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
        </a>
    </div>
</nav>