<!-- <nav class="bg-sky-900 py-4 text-sky-100">
    <div class="max-w-[65ch] mx-auto px-4 md:px-0 flex items-center justify-between relative">
        <a class="font-bold" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <div class="flex items-center gap-x-2">
            <a href="/search"
                class="sm:hidden rounded-md px-2 py-1 font-semibold text-sky-100 shadow-sm hover:bg-sky-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </a>
            <button id="toggle-nav-btn"
                class="sm:hidden rounded-md px-2 py-1 font-semibold text-sky-100 shadow-sm hover:bg-sky-700">
                <svg id="hide-nav-btn-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="hidden w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                <svg id="show-nav-btn-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <ul id="nav"
                class="hidden sm:flex gap-x-2 absolute top-8 right-4 flex-col bg-white rounded-md py-2 sm:static sm:bg-transparent sm:rounded-none sm:py-0 sm:flex-row">
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}"
                        class="rounded-none px-2.5 py-1.5 text-sm font-semibold text-sky-900 block hover:bg-gray-100 sm:rounded-md sm:inline sm:shadow-sm sm:hover:bg-sky-700 sm:text-sky-100 ">{{
                        .Name }}</a>
                </li>
                {{ end }}
                <li>
                    <a href="/search"
                        class="hidden sm:block px-2.5 py-1.5 text-sm font-semibold text-sky-900 hover:bg-gray-100 sm:rounded-md sm:inline sm:shadow-sm sm:hover:bg-sky-700 sm:text-sky-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="inline w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="max-w-prose w-full mx-auto h-16 flex items-center justify-between">
    <a class="font-bold text-lg text-gray-900" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <ul class="flex items-center gap-8 text-gray-700">
        {{ range .Site.Menus.main }}
            <li>
                <a href="" class="hover:text-gray-900 hover:underline">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
</nav>