{{ define "main" }}
<header class="py-16 bg-sky-800 text-sky-100">
    <div class="wrapper">
        <h1 class="font-bold tracking-tight text-4xl text-white">{{ .Site.Title }}</h1>
        <p class="mt-2 text-lg">{{ .Site.Params.description }}</p>
    </div>
</header>
<nav class="bg-sky-900 py-4 text-sky-100 overflow-x-auto overflow-y-hidden">
    <div class="wrapper">
        <ul class="flex gap-x-2">
            {{ range first 10 (.Site.Taxonomies.tags.ByCount) }}
                <li><a href="{{ .Page.Permalink }}" class="rounded-md bg-sky-800 px-2.5 py-1.5 text-sm font-semibold text-sky-100 shadow-sm hover:bg-sky-700">{{ .Page.Title }}</a></li>
            {{ end }}
        </ul>
    </div>
</nav>
{{ $paginator := (.Paginate (where .Site.RegularPages "Section" "posts") 5) }}
<main class="wrapper {{ if gt $paginator.TotalPages 1 }} pb-12 {{ end }}">
    <div class="prose prose-sky mt-12 max-w-none">
        {{ range $paginator.Pages }}
            <article>
                <p class="flex items-center gap-x-4">
                    <span>{{ .Date.Format "January 2, 2006" }}</span>
                    <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current text-sky-500">
                        <circle cx="1" cy="1" r="1" />
                    </svg>
                    {{ range .Params.tags }}
                        <a href="/tags/{{ . }}">{{ . }}</a>
                    {{ end }}
                </p>
                <a href="{{ .Permalink }}" class="no-underline">
                    <h2 class="mt-0 mb-0">{{ .Title }}</h2>
                </a>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}">Read Full Post</a>
                <hr>
            </article>
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" $paginator }}
</main>
{{ end }}