{{ define "main" }}
<main class="max-w-2xl mx-auto px-4 md:px-0">
    <div class="prose prose-sky mt-12 max-w-none">
        <h1>{{ .Title }}</h1>
        <input id="search" type="search" placeholder="Search Something" class="block w-full rounded-md border border-gray-300 focus:border-sky-700 focus:ring-sky-700">
        <hr>
        <div id="result-info">
        </div>
        <div id="result-posts"></div>
    </div>
</main>
{{ end }}

{{ define "script" }}
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="{{ .Site.BaseURL }}js/search.js" type="module"></script>
{{ end }}